@import '~css/base';

.controls {
  display: flex;

  height: rem(110px);

  &__modifiers,
  &__actions {
    display: flex;

    flex: 1 0;

    padding: rem($global-padding / 2);

    > * {
      margin-right: rem($global-padding / 2);

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__timeline {
    flex: 0 0 53vw;
    max-width: 53vw;

    margin: 0 rem(10px);

    border-left: rem(1px) solid $color-grey;
    border-right: rem(1px) solid $color-grey;
  }
}