@import '~css/base';

.home {
  display: flex;
  
  width: 100%;
  height: 100%;

  font-family: inherit;

  &__controls,
  &__canvas {
    flex: 0 0 50%;

    height: 100%;
  }

  &__controls {
    background-color: #e5e5e5;
  }

  &__canvas {
    display: flex;

    align-items: center;
    justify-content: center;
  }

  .color-correct {
    margin-top: rem(8px);
  }
}