@import '~css/base';

.timelineslide {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: center;

  color: $color-text;

  border-radius: rem($global-border-radius);
  cursor: pointer;

  opacity: 0.5;

  transition: {
    property: opacity;
    duration: 0.25s;
  }

  &--no-image {
    opacity: 0.1;

    border: rem(2px) dashed $color-text;
  }

  &__poster {
    display: block;

    width: 100%;
    height: 100%;

    background: {
      position: center;
      size: cover;
    };
  }

  &__clear {
    position: absolute;

    top: rem(-10px);
    right: rem(-10px);

    padding: rem(5px);

    color: white;

    background-color: $color-accent;
    border-radius: 100%;

    line-height: 0;

    opacity: 0;
  }

  label {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  input {
    display: none;
  }

  &:hover {
    opacity: 1;

    .timelineslide__clear {
      opacity: 1;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}