@import '~sass-material-colors/sass/sass-material-colors';

$color-shadow: material-color('blue-grey', '100');
$color-primary: material-color('deep-orange', '400');
$color-accent: material-color('teal', '300');

$color-background: white;
$color-background-shade: material-color('grey', '200');
$color-background-invert: material-color('deep-orange', '700');

$color-text: material-color('blue-grey', '900');
$color-text-weak: material-color('blue-grey', '700');
$color-text-strong: material-color('deep-orange', '600');
$color-text-heading: material-color('blue-grey', '800');
$color-text-invert: material-color('', '400');
$color-text-strong-invert: material-color('', '400');
$color-text-link: $color-primary;
$color-text-link-visited: $color-background-invert;
$color-text-link-hover: lighten($color-text-link, 20);

$color-border: material-color('grey', '300');