@mixin font-size-small() {
  font-size: rem(12);
}

@mixin font-size-regular() {
  font-size: rem(16);
}

@mixin font-size-large() {
  font-size: rem(24);
}

@mixin font-size-x-large() {
  font-size: rem(32);
}

@mixin font-size-xx-large() {
  font-size: rem(48);
}

@mixin font-size-xxx-large() {
  font-size: rem(64);
}

@mixin font-size-xxxx-large() {
  font-size: rem(96);
}

$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$font-family-body: 'Work Sans', sans-serif;
$font-family-headline: 'Playfair Display', sans-serif;
$font-family-mono: 'Space Mono', monospace;

@mixin _compoundFont($family: $font-family-body, $weight: $font-weight-normal) {
  font: {
    family: $family;
    weight: $weight;
  }
}

@mixin bodyFont($family: $font-family-body, $weight: $font-weight-normal) {
  @include _compoundFont($family, $weight);
}

@mixin headlineFont($family: $font-family-headline, $weight: $font-weight-bold) {
  @include _compoundFont($family, $weight);
}

@mixin codeFont($family: $font-family-mono, $weight: $font-weight-normal) {
  @include _compoundFont($family, $weight);
}
