<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@jthawme">
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="twitter:image" content="<%= htmlWebpackPlugin.options.url %>/static/images/social.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.url %>" />
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.url %>/static/images/social.png">
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>" />

    <script async defer data-domain="kinegram.app" src="https://plausible.io/js/plausible.js"></script>
      <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
