@import '~css/base';

.controlsblock {
  display: flex;

  align-items: center;

  font-family: inherit;

  &__title {
    @include font-size-regular;

    padding: 0;
    margin: 0 rem(10px) 0 rem(2px);
  }

  @include breakpoint(laptop) {
    display: block;

    &__title {
      margin: 0 0 rem(2px);
    }
  }
}