@import '~css/base';
@import '~css/defaults';

.app {
  position: relative;

  height: 100%;

  &__logo {
    position: fixed;

    top: rem($outer-padding);
    left: rem($outer-padding);

    width: rem(36px);
  }

  &__controls {
    position: fixed;

    bottom: rem($outer-padding);
    left: rem($outer-padding);
    right: rem($outer-padding);

    box-shadow: 0 rem(1px) rem(6px) rem(-2px);
    border-radius: rem($global-border-radius);
  }
}