@import '~css/base';
@import '~css/defaults';

.app {
  position: relative;

  display: flex;

  align-items: center;
  justify-content: center;

  height: 100%;

  overflow: hidden;

  &__logo {
    position: fixed;

    z-index: 10;

    top: rem($outer-padding / 2);
    left: rem($outer-padding / 2);

    width: rem(36px);

    img {
      width: 100%;
    }
  }

  &__status {
    position: fixed;

    top: rem($outer-padding / 2);
    right: rem($outer-padding / 2);

    z-index: 1;
  }

  &__help {
    position: fixed;

    top: 0;
    left: 0;

    z-index: 100;

    width: 100%;
    height: 100%;

    opacity: 0;
    visibility: hidden;

    transition: {
      duration: 0.25s;
      property: opacity, visibility;
    }

    &-btn {
      display: block;

      width: rem(24px);
      height: rem(24px);

      padding: 0;
      margin: 0 auto;

      text-align: center;

      cursor: pointer;

      outline: 0;

      background-color: $color-text;
      color: $color-grey;

      border-radius: 100%;

      line-height: 0;

      opacity: 0;
      transform: scale(0.5);

      transition: {
        duration: 0.35s;
        property: transform, opacity;
        timing-function: cubic-bezier(.75,-0.5,0,1.75);
      }

      .app--second-ready & {
        opacity: 1;
        transform: scale(0.85);
      }

      &:hover,
      &:focus,
      &:active {
        transform: scale(1);
      }
    }

    .app--help & {
      opacity: 1;
      visibility: visible;
    }
  }

  &__canvas {
    position: relative;

    display: flex;

    align-items: center;
    justify-content: center;

    width: calc(100% - #{rem($outer-padding * 1.5)});
    height: calc(100% - #{rem($outer-padding * 1.5)});

    background-color: #f9f9f9;

    &:active,
    &:focus {
      outline: rem(1px) solid #ccc;
    }

    &__message {
      @include headlineFont;
      @include font-size-large;

      position: absolute;

      top: 0;
      left: 0;

      z-index: 10;

      display: flex;

      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;

      color: darken($color-grey, 10);

      opacity: 0;
      transform: scale(0.9);

      transition: {
        duration: 1s;
        property: opacity, transform;
        delay: 1s;
      }

      .app--second-ready & {
        opacity: 1;
        transform: scale(1);
      }

      .iconer {
        width: rem(80px);
      }

      p {
        max-width: rem(250px);

        margin: 0;

        text-align: center;
      }

      &--drop {
        border: rem(2px) dashed $color-accent;
        color: white;
        background-color: transparentize($color-accent, 0.5);
      }
    }

    &__measurer {
      position: absolute;

      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      pointer-events: none;
    }
  }

  &__controls {
    @include global-shadow;
    
    position: fixed;

    z-index: 10;

    bottom: rem($outer-padding / 2);
    left: rem($outer-padding / 2);
    right: rem($outer-padding / 2);

    border-radius: rem($global-border-radius);
    background-color: white;

    opacity: 0;
    transform: translate3d(0, #{rem($global-padding)}, 0);

    transition: {
      duration: 0.35s;
      property: transform, opacity;
    }

    .app--hide-controls & {
      transform: translate3d(0, calc(100% + #{rem($outer-padding / 2)}), 0);
    }

    .app--ready & {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  @include breakpoint(tablet) {
    &__canvas {
      width: 65%;
      height: 80%;
    }
  }

  @include breakpoint(laptop) {
    &__logo {
      top: rem($outer-padding);
      left: rem($outer-padding);
    }

    &__status {
      top: rem($outer-padding);
      right: rem($outer-padding);
    }

    &__canvas {
      width: 55vw;
    }

    &__controls {
      bottom: rem($outer-padding);
      left: rem($outer-padding);
      right: rem($outer-padding);

      .app--hide-controls & {
        transform: translate3d(0, calc(100% + #{rem($outer-padding)}), 0);
      }
    }
  }
}

@keyframes POPIN {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(0.7);
    opacity: 1;
  }
}