@import '~css/base';
@import '~css/defaults';

.app {
  position: relative;

  display: flex;

  align-items: center;
  justify-content: center;

  height: 100%;

  &__logo {
    position: fixed;

    top: rem($outer-padding);
    left: rem($outer-padding);

    width: rem(36px);
  }

  &__canvas {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 55vw;
    height: 80%;

    background-color: $color-grey;
  }

  &__controls {
    @include global-shadow;
    
    position: fixed;

    bottom: rem($outer-padding);
    left: rem($outer-padding);
    right: rem($outer-padding);

    border-radius: rem($global-border-radius);
    background-color: white;
  }
}